.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.codeExample {
  padding: 4rem 0;
  background-color: var(--ifm-background-color);
}

.codeExample h2 {
  margin-bottom: 1rem;
}

.codeExample ul {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
}

.codeExample li {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 996px) {
  .codeExample .row {
    flex-direction: column-reverse;
  }

  .codeExample .col {
    margin-bottom: 2rem;
  }
}
