.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-background-surface-color);
}

.featureIcon {
  font-size: 3rem;
  margin-bottom: 1rem;
}
